@include keyframes(glow-fill) {
    0% {
        width: 0%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    80% {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right-width: 5px;
    }

    100% {
        width: 100%;
        // border-radius: $card-border-radius;
        border-right-width: 0;
    }
}
