.logo {
    $height: 36px;
    $width:  60px;
    height: $height;
    width: $width;
    position: absolute;
    top: 8%;
    right: 5%;
    font-style: italic;
    &.visa {
        // display: none;
        $blue: #1A1876;
        $yellow: #E79800;
        background: white;
        text-transform: uppercase;
        color: $blue;
        text-align: center;
        font-weight: bold;
        font-size: 1.1em;
        &:before, &:after {
            content: " ";
            display: block;
            width: 100%;
            height: 25%;
        }

        &:before {
            background: $blue;
            bottom: 100%;
        }

        &:after {
            background: $yellow;
            top: 100%;
        }
    }

    &.mastercard {
        // display: none;
        $red: #FF0000;
        $yellow: #FFAB00;
        $offset: 0;
        color: white;
        font-weight: bold;
        text-align: center;
        font-size: 9px;
        line-height: $height;
        z-index: 1;
        text-shadow: 1px 1px rgba(0, 0, 0, .6);
        &:before, &:after {
            content: " ";
            display: block;
            width: $height;
            top: 0;
            position: absolute;
            height: $height;
            border-radius: $height / 2;
        }

        &:before {
            left: $offset;
            background: $red;
            z-index: -1;
        }

        &:after {
            right: $offset;
            background: $yellow;
            z-index: -2;
        }
    }

    &.amex {
        $box-offset: 6px;
        $box-width: $height - $box-offset;
        $box-height: $box-width / 2;
        $font-size: 4px;
        $font-padding: 2px;
        text-transform: uppercase;

        @include radial-gradient(#999, #DDD);

        font-size: $font-size;
        font-weight: bold;
        color: white;

        &:before, &:after {
            $blue: #106480;
            width: $box-width;
            height: $box-height;
            display: block;
            background: $blue;
            position: absolute;
            left: ($width - $box-width) / 2;
            // box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.6);
        }

        &:before {
            content: "american";
            top: $box-offset / 2;
            text-align: left;
            padding-left: $font-padding;
            padding-top: $box-height - $font-size;
        }

        &:after {
            content: "express";
            bottom: $box-offset / 2;
            text-align: right;
            padding-right: $font-padding;
        }
    }

    &.discover {
        $orange: #FF6600;
        $offset: 9px;
        background: $orange;
        color: #111;
        text-transform: uppercase;
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        text-align: center;
        overflow: hidden;
        z-index: 1;
        padding-top: $offset;
        letter-spacing: .03em;
        border: 1px solid #EEE;

        &:before, &:after {
            content: " ";
            display: block;
            position: absolute;
        }

        &:before {
            $size: 200px;
            background: white;
            width: $size;
            height: $size;
            border-radius: $size;
            bottom: -5%;
            right: -80%;
            z-index: -1;
        }

        &:after {
            $size: 8px;
            width: $size;
            height: $size;
            border-radius: $size /2;
            top: $offset + 1;
            left: 27px;
            @include radial-gradient(#FFF, $orange);
            content: "network";
            font-size: 4px;
            line-height: 24px;
            text-indent: -7px;
        }
    }

}   