$card-width: 350px;
$card-height: 200px;
$card-border-radius: 10px;
$card-fill-color: #3399CC;
$card-font-family: "Helvetica Neue";
$font-color: white;
$font-color-valid: #35C47A;
$monospace: monospace;
$card-transition-time: 400ms;

$discover-fill-color: #86B8CF;
$discover-highlight-color: #FF6600;