# Automatically ignored per:
# https://www.npmjs.org/doc/developers.html#Keeping-files-out-of-your-package
#
# .*.swp
# ._*
# .DS_Store
# .git
# .hg
# .lock-wscript
# .svn
# .wafpickle-*
# CVS
# npm-debug.log
# node_modules

*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.orig
*.jql.js

work
build
src
test
spec
pids
logs
results
coverage
lib-cov
html-report
xunit.xml

.project
.idea
.settings
.iml
*.sublime-workspace
*.sublime-project

ehthumbs.db
Icon?
Thumbs.db
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
