.card.card-ie-10, .card.card-ie-11 {
    &.card-flipped {
        @include transform(0deg);
        .card-front {
            @include transform(rotateY(0deg));
        }
        .card-back {
            @include transform(rotateY(0deg));

            &:after {
               left: 18%;
            }

            .card-cvc {
                @include transform(rotateY(180deg));
                left: 5%;
            }

            .card-shiny  {
                left: 84%;
                &:after {
                    left: -480%;
                    @include transform(rotateY(180deg));
                }
            }
        }
    }
}
.card.card-ie-10.card-amex .card-back, .card.card-ie-11.card-amex .card-back {
    display: none;
}
