@import "card";
@import "../logos/amex";

$fill-color: #108168;

.card.card-amex {

    &.card-flipped{
        @include transform(none);
    }

    &.card-identified {
        .card-front, .card-back {
            &:before {
                background-color: $fill-color;
            }
        }

        .card-front {

            .card-logo.card-amex {
                opacity: 1;
            }

            .card-cvc {
                visibility: visible;
            }

            &:after {
                opacity: 1;
            }
        }
    }
}
