@import "../cards/_card";
@import "../logos/_amex";

$fill-color: #108168;

.card.amex {

    &.flipped{
        @include transform(none);
    }
    
    &.identified {
        .front, .back {
            &:before {
                background-color: $fill-color;
            }
        }

        .front {

            .card-logo.amex {
                opacity: 1;
            }

            .cvc {
                visibility: visible;
            }

            &:after {
                opacity: 1;
            }
        }
    }
}
