$card-width: 350px;
$card-height: 200px;
$card-border-radius: 10px;
$card-fill-color: #3399CC;
$card-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$card-monospace-font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
$card-font-color: white;
$card-transition-time: 400ms;