@import "card";
@import "../logos/hipercard";

$fill-color: #770304;

.jp-card.jp-card-hipercard {
    &.jp-card-identified {
        .jp-card-front, .jp-card-back {
            &:before {
                background-color: $fill-color;
            }
        }
        .jp-card-logo.jp-card-hipercard {
            opacity: 1;
            box-shadow: none;
        }
    }
}
