@import "card";
@import "../logos/maestro";

$fill-color: #0B2C5F;

.jp-card.jp-card-maestro {
    &.jp-card-identified {
        .jp-card-front, .jp-card-back {
            .jp-card-logo.jp-card-maestro {
                box-shadow: none;
            }
            &:before {
                background-color: $fill-color;
            }
        }
        .jp-card-logo.jp-card-maestro {
            opacity: 1;
        }
    }
}
