@import "../cards/_card";
@import "../logos/_mastercard";

$fill-color: #0061A8;

.card.mastercard {
    &.identified {
        .front, .back {
            .card-logo.mastercard {
                box-shadow: none;
            }
            &:before {
                background-color: $fill-color;
            }
        }
        .card-logo.mastercard {
            opacity: 1;
        }
    }
}
