@import "card";
@import "../logos/mastercard";

$fill-color: #0061A8;

.jp-card.jp-card-mastercard {
    &.jp-card-identified {
        .jp-card-front, .jp-card-back {
            .jp-card-logo.jp-card-mastercard {
                box-shadow: none;
            }
            &:before {
                background-color: $fill-color;
            }
        }
        .jp-card-logo.jp-card-mastercard {
            opacity: 1;
        }
    }
}
