@import "card";
@import "../logos/mastercard";

$fill-color: #0061A8;

.card.card-mastercard {
    &.card-identified {
        .card-front, .card-back {
            .card-logo.card-mastercard {
                box-shadow: none;
            }
            &:before {
                background-color: $fill-color;
            }
        }
        .card-logo.card-mastercard {
            opacity: 1;
        }
    }
}
