@import "card";
@import "../logos/visa";

$fill-color: #191278;

.jp-card.jp-card-visa {
    &.jp-card-identified {
        .jp-card-front, .jp-card-back {
            &:before {
                background-color: $fill-color;
            }
        }
        .jp-card-logo.jp-card-visa {
            opacity: 1;
            box-shadow: none;
        }
    }
}