@import "card";
@import "../logos/visa";

$fill-color: #191278;

.card.card-visa {
    &.card-identified {
        .card-front, .card-back {
            &:before {
                background-color: $fill-color;
            }
        }
        .card-logo.card-visa {
            opacity: 1;
        }
    }
}