@import "logo";

.card-logo.amex {
    $box-offset: -10px;
    $box-width: $logo-height - $box-offset;
    $box-height: $box-width;
    $font-size: 7px;
    $font-padding: 2px;

    text-transform: uppercase;

    font-size: $font-size;
    font-weight: bold;
    color: white;

    &:before, &:after {
        width: $box-width;
        display: block;
        position: absolute;
        left: ($logo-width - $box-width) / 2;
    }

    &:before {        
        height: $box-height;
        content: "american";
        // box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.6);
        top: $box-offset / 2 - 1;
        text-align: left;
        padding-left: $font-padding;
        padding-top: $box-height / 2 - $font-size + 1;
        background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#7dcdee), color-stop(33%,#016cb4)); 
        background: -webkit-linear-gradient(-45deg, #7dcdee 0%,#016cb4 33%);         
    }

    &:after {
        content: "express";
        bottom: $box-height / 2 - $font-size - 6;
        text-align: right;
        padding-right: $font-padding;
    }
}
