@import "logo";

.card-logo.jcb {
  $blue:#045b9d;
  $red:#b41233;
  $green:#007f47;
  $white: #ffffff;
  &:before {
    background-color: $blue;
    content: "J";
  }
  &:before,&:after {
    background-color: $red;
    content: "C";
  }
  &:after {
    background-color: $green;
    content: "B";
  }
}