$logo-height: 36px;
$logo-width: 60px;
$mastercard-family-name-height: 84px;

@include exports("_logo.scss") {
    .jp-card-logo {
        &, &:before, &:after {
            box-sizing: border-box;
        }
        height: $logo-height;
        width: $logo-width;
        font-style: italic;
    }
}
