@import "logo";

.card-logo.visa {
    &.visa {
        // display: none;
        $blue: #1A1876;
        $yellow: #E79800;
        background: white;
        text-transform: uppercase;
        color: $blue;
        text-align: center;
        font-weight: bold;
        padding-top: 7px;
        font-size: 22px;
        &:before, &:after {
            content: " ";
            display: block;
            position: absolute;
        }

        &:before {
            width: 20px;
            height: 10px;
            border-top-right-radius: 55%;
            top: 10px;
            z-index: 1;
            left: -9px;
            background: -webkit-linear-gradient(left, rgba(255,255,255,0) 45%,rgba(255,255,255,1) 46%,rgba(255,255,255,1) 91%,rgba(26,24,118,1) 91%,rgba(26,24,118,1) 100%);
        }

        &:after {
            width: 9px;
            height: 4px;
            top: 10px;
            left: 3px;
            background-color: #e59703;
        }
    }
}
