@import "logo";

.card-logo.visa {
    &.visa {
        // display: none;
        $blue: #1A1876;
        $yellow: #E79800;
        background: white;
        text-transform: uppercase;
        color: $blue;
        text-align: center;
        font-weight: bold;
        padding-top: 1.95%;
        font-size: 22px;
        &:before {
            content: "";
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 0 10px 4px 0;
            border-color: transparent $yellow transparent transparent;
            position: absolute;
            top: 27%;
            left: 3.4%;
            transform: rotateZ(3deg);
        }       
        &:after {
            content: "";
            display: block;
            width: 11px;
            height: 4px;
            border-radius: 50%;
            left: 1%;
            position: absolute;
            top: 29.2%;
            transform: rotateZ(18deg);
            background: -webkit-linear-gradient(194deg, #1A1876 24%, white 24%);
        }
    }
}
