@import "logo";

.jp-card-logo.jp-card-visaelectron {
    // display: none;
    $blue: #1A1876;
    $yellow: #E79800;
    background: white;
    text-transform: uppercase;
    color: $blue;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;


    &:before, &:after {
        content: " ";
        display: block;
        width: 100%;
        height: 25%;
    }

    &:before {
        background: $blue;
    }

    &:after {
        background: $yellow;
    }
    .elec {
        float: right;
        font-family: arial;
        font-size: 9px;
        margin-right: 1px;
        margin-top: -5px;
        text-transform: none;
    }
}
