@import "../bower_components/foundation/scss/foundation";

$width: 350px;

.demo-wrapper {
    width: 450px;
    margin: 5px auto;
    h1 {
        margin: 0;
    }

    a {
        color: #333;
        font-weight: bold;
        &:hover {
            text-decoration: underline;
        }
    }

    .header {
        margin-top: 40px;
    }

    .code-container, .demo-container, .explainer-container {
        padding: 10px;
        margin: 10px 0;
        h1 {
            font-size: 20px;
            font-weight: bold;
        }
    }

    .demo-container {
        background: #EEE;
        position: relative;
        h1 {
            color: #333;
        }
    }

    .code-container {
        $green: #61AE24;
        background: $green;
        padding: 1px;
        h1 {
            margin: 10px;
            color: white;
        }
        code {
            padding: 30px 5px;
            margin: 30px;
            font-size: 12px;
            text-align: center;
            display: block;
        }
        ul {
            padding: 10px 30px;
            margin: 30px;
            background: white;
            li {
                color: $green;
                font-weight: bold;
                line-height: 20px;
                margin: 10px 0;
                font-size: 15px;
            }
        }
    }

    .explainer-container {
        padding: 20px 10px;
        h1 {
            margin-bottom: 10px;
        }
        p {
            font-size: 15px;
            line-height: 17px;
        }
    }
}

.card-wrapper {
    width: 100%;
    margin: 30px auto;
}

.form-container {
    width: $width;
    margin: 30px auto;
    margin-top: 40px;

    label {
        font-size: 12px;
        text-transform: lowercase;
        margin-bottom: 4px;
    }

    input {
        box-shadow: none;
        &[name="number"], &[name="expiry"] {
            border-right: none;
        }

        &:focus {
            box-shadow: none;
            border-color: #BBB;
        }
    }
}

.active {
    p.small {
        font-size: 12px;
        margin-bottom: 0;
        color: #aaa;
    }
    input[name="number"] {

    }
}

